
body {
	margin:0;
	padding:0;
	font:13px/1.5 \5b8b\4f53, Arial, sans-serif;
	background:#ffffff;
}

.validatebox-text {
     border-width: 1px;
     border-style: solid;
     line-height: 17px;
     padding-top: 1px;
     padding-left: 3px;
     padding-bottom: 2px;
     padding-right: 3px;
     background-attachment: scroll;
     background-size: auto;
     background-origin: padding-box;
     background-clip: border-box;
 }

 .validatebox-invalid {
     border-color: #ffa8a8;
     background-repeat: repeat-x;
     background-position: center bottom;
     background-color: #fff3f3;
     background-image: none;
 }
div #panel .datagrid-wrap{ border: 0px;}
div #roleWindow .datagrid-wrap{ border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
}
