
.grumble {
    background-image: url("../images/bubble-sprite.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99999;
}
.grumble-text {
    display: table;
    font-size: 14px;
    line-height: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    z-index: 99999;
}
.ie7 .grumble-text, .ie6 .grumble-text {
    display: block;
}
.grumble-text .outer {
    color: white;
    display: table-cell;
    vertical-align: middle;
}
.ie7 .grumble-text .outer, .ie6 .grumble-text .outer {
    display: block;
    left: 0;
    position: absolute;
    top: 48%;
    width: 85%;
}
.ie7 .inner, .ie6 .inner {
    position: relative;
    top: -50%;
}
.grumble-text50 .outer {
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
}
.grumble-text100 .outer {
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}
.grumble-text150 .outer {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.grumble-text200 .outer {
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}
.grumble50 {
    background-position: 0 0;
}
.grumble100 {
    background-position: 0 -50px;
}
.grumble150 {
    background-position: 0 -150px;
}
.grumble200 {
    background-position: 0 -300px;
}
.alt-grumble50 {
    background-position: -200px 0;
}
.alt-grumble100 {
    background-position: -200px -50px;
}
.alt-grumble150 {
    background-position: -200px -150px;
}
.alt-grumble200 {
    background-position: -200px -300px;
}
.grumble-button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ff5c00;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 1px 1px 1px #ccc;
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    height: 12px;
    line-height: 0.9em;
    position: absolute;
    text-align: center;
    width: 20px;
    z-index: 99999;
}
