@CHARSET "GB18030";

*{
	font-size:12px;
}

body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:20px;
    font-size:13px;
    margin:0;
}

#box {
	margin: 0 auto;
	width: 980px;
	height: 600px;
}

#main {
	height: 496px;
	/* background-image: url(../images/dlna_title.jpg); */
	background-position: left;
	background-repeat: no-repeat;
}

#header {
	width: 200px;
	height: 150px;
	background-position: left;
	background-repeat: no-repeat;
}

#titles{
	width: 225px;
	height: 75px;
	/* background-image: url(../images/name.png); */
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	margin: 50px 0 0 50px;
}

.loginbox {
	float: right;
	padding-right: 30px;
}

#footer {
	height: 24px;
	color: #999;
	text-align: center;
	line-height: 24px;
}

#toolbar{
	text-align: center;
}

#lnkRefreshCaptchaImg{
	font-size:13px;
	padding-left:5px;
}

#loginMessage{
	color:red;
}

.loginForm table{
	border-collapse:collapse;
	border-spacing:0;
	margin-top:10px;
}
	
.loginForm th,.loginForm td{
	padding: 5px 0px;
}

.loginForm th{
	font-weight:bold;
	background:#ccc;
}

.loginForm td:nth-child(odd) {
	font-weight:bold;
	width:80px;
	text-align:right;
	padding-right: 10px;
}

td.br {
	width:80px;
	font-weight:bold;
	text-align:right;
}

