<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>authorityFilter</filter-name>
    <filter-class>com.kysoft.filter.AuthorityFilter</filter-class>
    <init-param>
      <param-name>noCheckUrls</param-name>
      <param-value>/authorityManage.jsp,/manageAuthority.jsp,/login.jsp,/list.jsp,/userServlet</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>authorityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
